In [37]:
#Q1
for i in range(0,3):
  print("SARTHAK GARG")

SARTHAK GARG
SARTHAK GARG
SARTHAK GARG

In [38]:
#Q2
a=6
b=10
c=5
d= a+b+c
print(d)

21

In [39]:
#Q3
a="Nice"
b=" To "
c=" Meet You "
d=a+b+c
print(d)

Nice To  Meet You

In [40]:
#Q4
for i in range(1,11):
  print(7,"*",i,"=",i*7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [41]:
#Q4
for i in range(1,11):
  print(9,"*",i,"=",i*9)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [42]:
#Q5
a=int(input(("Enter Number:")))
for i in range(1,11):
  print(a,"*",i,"=",a*i)

Enter Number:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [43]:
#Q6
n = int(input("Enter Number :"))
sum = 0
for i in range(1,n+1):
    sum+=i;
print(sum)

Enter Number :7
28

In [44]:
#Q7
x = int(input("Enter 1st Number : "))
y = int(input("Enter 2nd Number : "))
z = int(input("Enter 3rd NUmber : "))
print("The Largest of Three Numbers is : ",max(x,y,z))

Enter 1st Number : 5
Enter 2nd Number : 6
Enter 3rd NUmber : 9
The Largest of Three Numbers is :  9

In [45]:
#Q8


n = int(input("Enter the value of n: "))
sum = 0

for i in range(1, n + 1):
    if i % 7 == 0 and i % 9 == 0:
        sum += i

print(f"Sum of Numbers both Divisble by 7 and 9 from 1 to {n} is: ",sum)

Enter the value of n: 5
Sum of Numbers both Divisble by 7 and 9 from 1 to 5 is:  0

In [46]:
#Q9
a = int(input("Enter Number :"))
Sum = 0
for num in range(2,a+1):
  is_prime = True
  for i in range(2, int(num * 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
  if is_prime:
        Sum += num

print(Sum)

Enter Number :10
17

In [47]:
#Q10
def sum(b):
 sum = 0
 for i in range(1,b+1,2):
      sum+=i
 return sum
a= int(input("Enter Number :"))
print(sum(a))

Enter Number :8
16

In [50]:
#Q11
def sum(a):
  sum = 0
  for num in range(2,a+1):
     is_prime = True
     for i in range(2, int(num * 0.5) + 1):
         if num % i == 0:
            is_prime = False
            break
     if is_prime:
          sum += num
  return sum
b = int(input("Enter Number :"))
print(sum(b))

Enter Number :3
5